{% extends 'base.html' %}

{% block content %}

<h1>Lista zadań</h1>
{%if tasks %}
<div class="list-group">
    {% for task in tasks %}
        <a href="{% url 'task_detail' task.pk %}" class="list-group-item list-group-item-action">
            {{ task.title }} <br>
            {{ task.project }}<br>
            <small>status: {{ task.status }}</small><br>
            <small>termin: {{ task.due_date }}</small>
        </a>
    {% endfor %}
</div>
{% else %}
<p>Brak zadań.</p>
{% endif %}
<br>
<p><a class="btn btn-primary" href="{% url 'task_add' %}">Dodaj nowe zadanie</a></p>

{% endblock %}