
{% extends 'base.html' %}

{% block content %}

<h1>{{ task.title }}</h1>
<p>Opis: {{ task.description }}</p>
<p>Status: {{ task.status }}</p>
<p>Projekt: {{ task.project }}</p>
<p>Termin: {{ task.due_date }}</p>
<p>Utworzono: {{ task.created_at }}</p>

{% if task.tags.all %}
<p><strong>Tagi:</strong></p>
<ul>
    {% for tag in task.tags.all %}
        <li>{{ tag.name }}</li>
    {% endfor %}
</ul>
{% endif %}

    <a class="btn btn-danger" href="{% url 'task_delete' task.pk %}">Usuń zadanie</a>
    <a class="btn btn-primary" href="{% url 'task_edit' task.pk %}">Edytuj zadanie</a>
    <a class="btn btn-secondary" href="{% url 'task_list' %}">Powrót do listy</a>

{% endblock %}